@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@mantine/core/styles/global.css";
@import "@mantine/core/styles/AppShell.css";
@import "@mantine/core/styles/UnstyledButton.css";
@import "@mantine/core/styles/Button.css";
@import "@mantine/core/styles/CloseButton.css";
@import "@mantine/core/styles/Group.css";
@import "@mantine/core/styles/Flex.css";
@import "@mantine/core/styles/Overlay.css";
@import "@mantine/core/styles/Burger.css";
@import "@mantine/core/styles/Dialog.css";
@import "@mantine/core/styles/Drawer.css";
@import "@mantine/core/styles/ModalBase.css";
@import "@mantine/core/styles/Paper.css";
@import "@mantine/core/styles/Accordion.css";
@import "@mantine/core/styles/Badge.css";
@import "@mantine/core/styles/Divider.css";
@import "@mantine/core/styles/NumberInput.css";
@import "@mantine/core/styles/InlineInput.css";
@import "@mantine/core/styles/Checkbox.css";
@import "@mantine/core/styles/Input.css";
@import "@mantine/core/styles/Popover.css";
@import "@mantine/core/styles/Combobox.css";
@font-face {
    font-family: "Playball";
    src: url("./../public/fonts/Playball-Regular.woff2") format("woff2"), url("./../public/fonts/Playball-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("./../public/fonts/Roboto-Regular.woff2") format("woff2"), url("./../public/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JakartaMedium";
    src: url("./../public/fonts/PlusJakartaSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JakartaSemiBold";
    src: url("./../public/fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Regular";
    src: url("./../public/fonts/Sora-Regular.woff2") format("woff2"), url("./../public/fonts/Sora-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Medium";
    src: url("./../public/fonts/Sora-Medium.woff2") format("woff2"), url("./../public/fonts/Sora-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SemiBold";
    src: url("./../public/fonts/Sora-SemiBold.woff2") format("woff2"), url("./../public/fonts/Sora-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bold";
    src: url("./../public/fonts/Sora-Bold.woff2") format("woff2"), url("./../public/fonts/Sora-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 35.99375em) {
    .mantine-visible-from-xs {
        display: none !important;
    }
}

@media (min-width: 36em) {
    .mantine-hidden-from-xs {
        display: none !important;
    }
}

@media (max-width: 47.99375em) {
    .mantine-visible-from-sm {
        display: none !important;
    }
}

@media (min-width: 48em) {
    .mantine-hidden-from-sm {
        display: none !important;
    }
}

@media (max-width: 61.99375em) {
    .mantine-visible-from-md {
        display: none !important;
    }
}

@media (min-width: 62em) {
    .mantine-hidden-from-md {
        display: none !important;
    }
}

@media (max-width: 74.99375em) {
    .mantine-visible-from-lg {
        display: none !important;
    }
}

@media (min-width: 75em) {
    .mantine-hidden-from-lg {
        display: none !important;
    }
}

@media (max-width: 87.99375em) {
    .mantine-visible-from-xl {
        display: none !important;
    }
}

@media (min-width: 88em) {
    .mantine-hidden-from-xl {
        display: none !important;
    }
}

body {
    font-family: "Regular", sans-serif;
}

.ErrorMessageStyle {
    color: #b11e1e;
    font-size: 12px;
    min-height: 25px;
    display: flex;
    align-items: flex-end;
    margin: 0 16px;
}

svg:not(.avatar) circle {
    fill: currentColor;
}

svg.yellow_path path {
    stroke: #b7e08a;
}

svg.gray_stroke path {
    stroke: #c4c8cc;
}

svg.active rect {
    fill: #1e4c2f;
}

svg.active path {
    stroke: #fff;
}

svg.not_active rect {
    fill: #fff;
}

svg.not_active path {
    stroke: #0b0f0e;
}

svg.icon_liked path {
    fill: #ffa439;
    stroke: #ffa439;
}

button.switch_view svg.active {
    stroke: #fff;
}

@media (max-width: 767px) {
    svg.mobile_color path {
        stroke: #3860e2;
    }
    svg.mobile_YellowGreen path {
        stroke: #b7e08a;
    }
}